#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/bin:/usr/bin:/sbin:/usr/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

#Port 22
#AddressFamily any
ListenAddress {{ bootstrap_ssh_ListenAddress }}
#ListenAddress ::

Protocol {{ bootstrap_ssh_Protocol }}

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{ bootstrap_ssh_SyslogFacility }}
LogLevel {{ bootstrap_ssh_LogLevel }}

# Authentication:

LoginGraceTime {{ bootstrap_ssh_LoginGraceTime }}
PermitRootLogin {{ bootstrap_ssh_PermitRootLogin }}
StrictModes {{ bootstrap_ssh_StrictModes }}
#MaxAuthTries 6
#MaxSessions 10

HostbasedAuthentication {{ bootstrap_ssh_HostbasedAuthentication }}
PubkeyAuthentication {{ bootstrap_ssh_PubkeyAuthentication }}
PasswordAuthentication {{ bootstrap_ssh_PasswordAuthentication }}


# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	{{ bootstrap_ssh_AuthorizedKeysFile }}

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
# Change to yes if you don't trust ~/.ssh/known_hosts for
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ bootstrap_ssh_IgnoreRhosts }}

# Change to no to disable s/key passwords
ChallengeResponseAuthentication {{ bootstrap_ssh_ChallengeResponseAuthentication }}

PermitEmptyPasswords {{ bootstrap_ssh_PermitEmptyPasswords }}

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication {{ bootstrap_ssh_GSSAPIAuthentication }}
#GSSAPICleanupCredentials yes

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
#UsePAM no

#AllowAgentForwarding yes
# Feel free to re-enable these if your use case requires them.
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd yes
TCPKeepAlive {{ bootstrap_ssh_TCPKeepAlive }}
#PermitUserEnvironment no
Compression {{ bootstrap_ssh_Compression }}
ClientAliveInterval {{ bootstrap_ssh_ClientAliveInterval }}
ClientAliveCountMax {{ bootstrap_ssh_ClientAliveCountMax }}
#UseDNS no
#PidFile /run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
#Banner none

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
UseDNS no