{% if system_base_banner_figlet_result.stdout %}
{{ system_base_banner_figlet_result.stdout }}
{% endif %}
{% if ansible_default_ipv4 is defined %}
eth0 IPv4 : {{ ansible_default_ipv4.address }}
{% endif %}
{% if ansible_default_ipv6 is defined %}
eth0 IPv6 : {{ ansible_default_ipv6.address }}
{% endif %}
