{{ system_base_repository_main_url }}
{{ system_base_repository_community_url }}
{% if system_base_enable_edge_repository %}
@edgemain {{ system_base_edge_repository_main_url }}
@edgecommunity {{ system_base_edge_repository_community_url }}
@edgetesting {{ system_base_edge_repository_testing_url }}
{% endif %}
#http://dl-cdn.alpinelinux.org/alpine/edge/testing
